html {
  height: 100%;
}

body {
  align-items: center;
  background: black;
  display: flex;
  font-family: 'Trebuchet MS';
  height: 100%;
  justify-content: center;
  margin: 0px
}

h1 {
  color: #ffe135;
  text-align: center;
}
